{% extends 'base.html' %}
<!-- Skriv inn din kode her for å returnere svar for bruksscenario om svar på en søknad. --> 


{% block content %}
<table border=1>
	{% for k,v in data.items() %}
	<tr>
		<th>{{ k }}</th>
		<td>{{ v }}</td>
	</tr>
	{% endfor %}
</table>

<table border=1>
	{% for barnehage in ledige_barnehage_plasser %}
	<tr>
		<th>TILBUD</th>
		<th>{{ barnehage.barnehage_navn }}</th>
	</tr>
	{% endfor %}
</table>
<table border=1>
	{% for barnehage in ikke_ledige_barnehage_plasser %}
	<tr>
		<th>AVSLAG</th>
		<th>{{ barnehage.barnehage_navn }}</th>
	</tr>
	{% endfor %}
</table>


{% endblock %}